.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    background-color: #ffffff;
    border-bottom: 2px solid #87da0a;
    font-family: 'Roboto', sans-serif; /* Exemple de police, vous pouvez en changer */
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #87da0a;
    font-size: 2em;
    font-weight: bold;
}

.logo-image {
    height: 40px;
    width: auto;
    margin-right: 0.5em;
}

.navigation a {
    color: #87da0a;
    text-decoration: none;
    margin-left: 1em;
    transition: color 0.3s ease;
}

.navigation a:hover {
    color: #ffdd57;
}

.footer-container {
    text-align: center;
    padding: 1em;
    background-color: #f0f0f0;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    border-top: 2px solid #87da0a;
}

.footer-container p {
    margin: 0.5em 0;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    padding: 2em;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form label {
    margin-bottom: 0.5em;
    font-size: 1.1em;
    font-weight: bold;
}

form input, form textarea {
    padding: 0.8em;
    margin-bottom: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
}

form button {
    padding: 0.8em;
    background-color: #87da0a;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #72c306;
}
